

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><span class="navbar-toggler-icon"></span>
  </button>
  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" [class.active]="aba == 'home'" (click)="aba = 'home'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " [class.active]="aba == 'lista'" (click)="aba = 'lista'">Lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "[class.active]="aba == 'eventos'" (click)="aba = 'eventos'">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="container"><app-carousel></app-carousel></div> -->
<!-- <div class="container" [ngSwitch]="aba">
  <div *ngSwitchCase="'lista'">Lista</div>
  <div *ngSwitchCase="'eventos'">Eventos</div>
  <div *ngSwitchDefault>Home </div>
</div> -->

<app-start></app-start>
<router-outlet></router-outlet>
